<div
  class="card"
  style="width: 18rem; margin-top: 10px"
  *ngFor="let admin of admins$; index as i"
>
  <div class="card-header title">
    <span class="id">{{ admin.$key }}</span>
    <span class="edit" (click)="onClick(i)"
      ><i class="bi bi-pencil-square editing"></i
    ></span>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      {{ admin.firstName + " " + admin.lastName }}
    </li>
    <li class="list-group-item">{{ admin.email }}</li>
    <li class="list-group-item">{{ admin.mobileNumber }}</li>
  </ul>
</div>

