<p>book-card works!</p>
<label for="genreFilter">Filter by Genre:</label>



<div
  class="card"
  style="width: 18rem; margin-top: 10px"
  *ngFor="let books of books$; index as i"
>
  <div class="card-header title">
    <span class="id">ISBN: {{ books.ISBN}}</span>
    <span class="edit" (click)="onClick(i)"
      ><i class="bi bi-pencil-square editing"></i
    ></span>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      Title: {{ books.Title }}
    </li>
    <li class="list-group-item">Author: {{ books.Author }}</li>
    <li class="list-group-item">Genre: {{ books.Genre }}</li>
    <li class="list-group-item">ID: {{ books.$key }}</li>
  </ul>
</div>

